$headerfont: 'Bangers',
cursive;
$paragraphfont: 'Montserrat',
sans-serif;

@mixin flexCenter {
    display: flex;
    justify-content: center;
}

body {
    background-image: linear-gradient(to right, #b19cd9, #64b4fa, #00cbf3, #00d9c0, #77dd77);
}

.title {
    font-family: $headerfont;
    @include flexCenter;
    font-size: 10vw;
    width: 100%;
}

.description {
    font-family: $paragraphfont;
    @include flexCenter;
    font-size: 1em;
    text-align: center;
    margin-top: -2em;
}

.typehere {
    @include flexCenter;

    .inputbox {
        font-family: $paragraphfont;
        text-align: center;
    }
}

.clickhere {
    @include flexCenter;
    margin: 1em 0 0 0;

    .submitbox {
        font-family: $paragraphfont;
    }
}

#result {
    @include flexCenter;
    font-family: $paragraphfont;
}

footer {
    @include flexCenter;
    font-family: $headerfont;
}