$headerfont: 'Bangers',
cursive;
$paragraphfont: 'Montserrat',
sans-serif;

@mixin flexCenter {
    display: flex;
    justify-content: center;
}

.title {
    font-family: $headerfont;
    @include flexCenter;
    font-size: 5em;
    width: 100%;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.description {
    font-family: $paragraphfont;
    @include flexCenter;
    font-size: 1em;
    text-align: center;
    margin-top: -2em;
}

.input {
    @include flexCenter;
    flex-direction: column;

    .typehere {
        text-align: center;
    }
}

#result {
    @include flexCenter;
}

footer {
    @include flexCenter;
    font-family: $headerfont;
}